@import ./Navigation.sass
@import ./Lesson.sass
@import ./Hello.sass

*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  text-decoration: none
  font-family: 'Roboto', sans-serif

  @at-root :root
  --primary: white
  --secondary: #c7c7c7

body
  font-size: 12px

main
  text-align: center
  margin-top: 340px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: calc(10px + 2vmin)
  h1
    font-size: 2rem
    text-transform: uppercase
  button 
  height: 3rem
  font-size: 1.2rem

.title
  font-size: 1.5rem
  margin-top: 100px
  margin-bottom: 20px 
